# Site configuration stuffs
SITE_PASS=secretpassword
SITE_QUESTION=What's on your mind?
SITE_TITLE=Random Gobsmacks
SITE_HIDDEN=false # Whether the questions will be visible or obscured after asking

# The only string you'll ever need (Except for the two above)
DATABASE_URL=postgres://your_user:your_password@your_postgres_provider

